.inputWrapper {
  position: relative;
  width: 20vw;
  margin-bottom: 2vh;
}

.Inputs {
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
  background-color: rgba(43, 40, 40, 0.363);
  border: none;
  border-bottom: solid 2.5px rgba(238, 236, 255, 0.685);
  border-radius: 5px;

  padding-left: 12%;
  font-size: 1rem;
  color: aliceblue;

  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.363);
  }
}
.inputError {
  border-color: red;
  margin: 0;
}

.error {
  color: red;
  font-size: 0.85rem;
  margin-top: -1.5vh;
  margin-bottom: 1.5vh; 
}

.inputWrapper i:not(.eyeIcon) {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: aliceblue;
  pointer-events: none;
  font-size: 1.2rem;
  z-index: 2;
}

.inputWrapper i.fa-lock,
.inputWrapper i.fa-envelope,
.inputWrapper i.fa-pen {
  left: 8px;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 1vh;
  transform: translateY(-50%);
  color: aliceblue;
  cursor: pointer;
  z-index: 2;
}