.Btns_login {
    width: 20vw;
    height: 8vh;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 10px;
    margin: 5px;
    font-size: 3vh;
    color: white;
    transition: all 1s ease-in-out;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.1);
        background-color: aliceblue;
        color: rgba(0, 0, 0, 0.377);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        

    }
}