.Btns_text {
    width: auto;
    height: 4vh;
    background: transparent;
    border: none;
    font-size: 2.4vh;
    color: aliceblue;
    padding: 1vh;
    cursor: pointer;

    white-space: nowrap;

    &:hover {
        transform: scale(1.1);
    }
}