.inputWrapper {
  position: relative;
  width: 20vw;
  margin-bottom: 2vh;
}

.Inputs {
  width: 100%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.363);
  border: none;
  border-bottom: solid 2.5px rgb(6, 0, 58);
  border-radius: 5px;

  padding-left: 40px;
  font-size: 1rem;
  color: aliceblue;

  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.486);
  }
}

.inputWrapper i:not(.eyeIcon) {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: aliceblue;
  pointer-events: none;
  font-size: 1.2rem;
  z-index: 2;
}

.inputWrapper i.fa-lock,
.inputWrapper i.fa-envelope,
.inputWrapper i.fa-pen {
  left: 8px;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: -3vh;
  transform: translateY(-50%);
  color: aliceblue;
  cursor: pointer;
  z-index: 2;
}