/* ===== VARIÁVEIS GLOBAIS CSS ===== */
:root {
  /* Número de colunas na grade */
  --numX: 1;
  /* Tamanho de cada célula da grade */
  --grid-size: 50px;
  /* Espaçamento entre as células */
  --grid-gap: 3px;
  /* Cor final usada em animações ou estado final */
  --end-color: aliceblue;
  /*Cor Game*/
  --gren: #88cc88;
  --gren2:#44aa44;
  --gren3:#0b9;
  /*Background Black */
  --black: black;
  /*White Ghost */
  --Withe_ghost:rgba(240, 248, 255, 0.521) ;
}

/* ===== ESTILO GERAL ===== */
.body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* Alinha tudo verticalmente */
}

/* ===== RESPONSIVIDADE ===== */

/* Telas até 800px */
@media (max-width: 800px) {
  :root {
    --grid-size: 40px;
    --grid-gap: 2.5px;
  }

  .body {
    padding: 1rem;
  }
}

/* Telas até 480px */
@media (max-width: 480px) {
  :root {
    --grid-size: 30px;
    --grid-gap: 2px;
  }

  .body {
    padding: 0.5rem;
  }
}