/* home_page.module.scss */

:root {
  --numX: 1; // JS vai atualizar esse valor
  --grid-size: 50px;
  --grid-gap: 3px;
  --end-color: #d4e6e8;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1rem 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--numX), var(--grid-size));
  grid-auto-rows: var(--grid-size);
  gap: var(--grid-gap); /* melhor usar 'gap' que é padrão */
}

.blok {
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.toggle-on {
  background-color: white;
  animation: flare-on 0.5s ease-out 0s forwards;
}

.toggle-off {
  animation: flare-off 0.5s ease-out 0s forwards;
  background-color: var(--end-color);
}

.score {
  margin: 1.1em;
  text-align: center;
  font-family: Major Mono Display, monospace;
  font-size: 1.8rem;
  font-weight: 100;
  color: #555;
}

@keyframes flare-on {
  from {background-color: #a57;}
  to {background-color: #0b9;}
}

@keyframes flare-off {
  from {background-color: #a57;}
  to {background-color: var(--end-color);}
}

@media (max-width: 440px) {
  :root {
    --grid-size: calc((95vw / var(--numX)) - var(--grid-gap));
  }
}
