.Last_text {
    width: 50%;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;

    color: aliceblue;
    margin-top: 18%;
    
    white-space: nowrap;
}
