.Last_text {
    width: 100vw;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4vh;

    color: aliceblue;
    margin-top: 18%;
    
    white-space: nowrap;
}
