.icon {
    font-size: 4.2vh;
    color: aliceblue;
    margin: 2vh;
    cursor: pointer;

    &:hover {
        animation: tremer 1s ease-in-out forwards;
    }

    @keyframes tremer {
        0% {
            transform: rotate(0deg);
            transform: scale(1.1);
        }

        25% {
            transform: rotate(10deg);
            color: rgb(51, 47, 58);
        }

        50% {
            transform: rotate(-10deg);
        }

        75% {
            transform: rotate(0deg);
        }

        100% {
            color: rgba(201, 132, 100, 0.541);
        }
    }
}