.App {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/pixel.gif);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.frame{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.329);
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
